/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.8rem;
	font-family: 'Bree Serif', serif;
	line-height: 1.6;
	max-width: 1100px;
	background: url('../img/fond.png');
	margin: auto;
	color: #989a99;
}

section {
	padding: 30px;
}

section article {
	padding: 10px;
}

.presentation {
	background: url('../img/bg_header.png');
	margin: 0;
	width: 100%;
	padding: 150px;
}

nav {
	font-size: 2rem;
}

nav ul li {
	list-style-type: none;
}

header .container div a img {
	height: 40px;
}

header, header a {
	color: #989a99;
	text-decoration: none;
}

header .container div p {
	font-size: 4rem;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3.5rem;
	color: #f5295c;
	text-align: center;
}

h2::after {
    content: "";  
    display: block; 
    margin: 0 auto; 
    width: 90%; 
    padding-top: 10px; 
    border-bottom: 2px solid rgba(152, 154, 153, 0.2); 
    border-radius: 2px;
}

h3 {
	font-size: 3rem;
	color: #f5295c;
	margin: 20px 0 20px 0;
}

i {
	font-size: 2.5rem;
}

input {
	font-size: 1.6rem;
}

.presentation {
	color: white;
	text-align: center;
}

.presentation a {
	text-decoration: none;
	color: white;
	border: 1px solid #f5295c;
	background-color: #f5295c;
	padding: 12px;
	border-radius: 10px;
}

.presentation p {
	margin-bottom: 60px;
}

.center {
	text-align: center;
}

.center article {
	display:block;
	padding: 20px;
}


.container div a, .container div p {
	display: block;
}

.container div, nav {
	display: block;
}

.container div a i {
	display: block;
}

.container div a {
	display: block;
}

header {
	text-align: center;
}

nav ul {
	margin: 0px;
	padding: 0px;
}

header div {
	padding: 20px;
}

#services .fas {
	background-color: #eff0f2;
	border: 2px solid #989a99;
	padding: 20px;
	width: 75px;
	height: 75px;
	border-radius: 50%;
}

.realisation a {
	color: #f5295c; 
	text-decoration: none;
	margin-left: 40px;
}
.realisation a i {
	margin: 20px 0 0 10px;
}

.realisation img {
	width: 100%;
}

form div {
	border: 1px solid #989a99;
	border-radius: 50px;
	padding: 10px;
	display: block;
	margin: 1%;
}

form div img {
	width: 40px;
}

form div img, form div input {
	display: inline-block;
	vertical-align: middle;
}

input {
	border: none;
	margin-left: 20px;
	color: #989a99;
	padding: 10px;
	width: 80%;
}

.button {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	color: white;
	margin: auto;
	border:none;
}

form button {
	padding: 15px;
	background-color: #989a99;
	border: 1px solid #989a99;
	color: white;
}

form button[type] {
	background-color: #f5295c;
	border: 1px solid #f5295c;
}

footer {
	text-align: center;
	padding: 40px;
}

footer img {
	width: 40px;
}

footer a {
	text-decoration: none;
	color: #f5295c;
}

#logo object {
	width: 60px;
}

.container div a i {
	display: block;
}

.container div a {
	display: inline-block;
	text-align: center;
}

form object {
	width: 40px;
}

form object, input {
	vertical-align: middle;
}

h3:hover {
    animation-name: bounce-1;
    animation-timing-function: linear;
    animation-duration: 5s;
}

@keyframes bounce-1 {
	0%   { transform: translateY(0); }
    	50%  { transform: translateY(-30px); }
    	100% { transform: translateY(0); }
}


#logo a:hover {
	transform: scale(1.5);
	fill: #f5295c;
	transition: 2s;
}

#logo p:hover, nav ul li a:hover {
	color: #f5295c;
	transition: 2s;
}

nav ul li a:hover {
	color: #f5295c;
	transition: 2s;
	transform: translateY(20px);
	transition: 3s
}


@media screen and (min-width: 768px) {
	#logo nav {
		display: block;
	}

	.container nav ul div {
		display: inline-block;
		vertical-align: middle;
	}

	section .realisation:nth-child(even) img {
		float: right;
		width: 300px;
		margin: 0 0 20px 20px;
	}
	section .realisation:nth-child(odd) img {
		float: left;
		width: 300px;
		margin: 0 20px 20px 0;
	}
	form div:nth-child(1), form div:nth-child(2) {
		display: inline-block;
		vertical-align: top;
		width: 49%;
	}
	form div:nth-child(3), form div:last-child {
		display: block;
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
	}
	form div:nth-child(1) {
		margin-left: 0%;
	}
	form div:nth-child(2) {
		margin-right: 0%;
	}
}


@media screen and (min-width: 1025px) {
	.container div a, .container div p {
		display: inline-block;
		vertical-align: middle;
	}

	.container div, nav {
		display: inline-block;
		vertical-align: middle;
	}

	.center article {
		display: inline-block;
		vertical-align: top;
		width: 33.333%;
		padding: 20px;
	}
	section .realisation:nth-child(even) img {
		float: right;
		width: 300px;
		margin: 0 0 20px 20px;
	}
	section .realisation:nth-child(odd) img {
		float: left;
		width: 300px;
		margin: 0 20px 20px 0;
	}
	form div:nth-child(1), form div:nth-child(2) {
		display: inline-block;
		vertical-align: top;
		width: 49%;
	}
	form div:nth-child(3), form div:last-child {
		display: block;
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
	}
	form div:nth-child(1) {
		margin-left: 0%;
	}
	form div:nth-child(2) {
		margin-right: 0%;
	}
}
